

body{
    background-image: url(images/pexels-valeria-boltneva-1199960.jpg);
    background-repeat: no-repeat;
    background-size: 1368px 500px;
}
.nav-list{
    display: inline-block;
    margin-top: 20px;
    margin-left: 580px;
    font-size: 20px;
    color: #fff;
}
.search-box{
    margin: 0% auto;
    width: 850px;
    margin-top: 45px;
}
.zomato h1{
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-weight: 900;
    font-size: 90px;
    font-style: italic;
    text-shadow: 5px 5px 5px black;

}
.heading{
    margin: 0% auto;
    margin-top: 20px;
    color: #fff;
    margin-left: 168px;
    text-shadow: 3px 3px 5px black;
    font-family:Arial, Helvetica, sans-serif
    
}
.cards{

    display: inline-block;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.card1{
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
}
.card2{
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
}
.card3{
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
}

